
.card-img-top-event {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



.card {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#events .card-body {
  justify-content: center;
}

.navbar .nav-bg {
  background: transparent;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.navbar .navbar-brand img {
  width: 80%;
}

.fixed-top.navbar .navbar-brand img {
  width: 65%;
}

.col-4.navbar-brand:before {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  background-color: #f4f2ef;
  left: 0;
  top: 0;
}

.col-4.navbar-brand:after {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  background-color: #801214;
  right: 0;
  top: 0;
}

.col-4.navbar-brand .logo-box-wrap {
  z-index: 99;
  position: relative;
}



.container-fluid.event-news-wrap {
  padding: 0 20px;
}

.accordion1 .card .card-header {
  background: #c8a57d !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
 
  font-size: 20px;
  padding: 1rem 1.25rem !important;
}

.accordion1 .card .card-header .roman {
  padding-left: 30px;
}

.accordion1 .card:nth-of-type(odd) .card-header {
  background: #79747d !important;
}




section > .container-custom ul.pagination li.page-item:before {
  display: none;
}

  #homeTopSlider .item {
    height: 100vh;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 110%;
  }

  section > .container-custom .content-details ul li {
    padding-left: 0px;
    width: unset;
  }

  section > .container-custom .content-details ul li {
    padding-left: 0px;
    width: 33%;
  }

  section.arboretum-list-bg .container-custom ul li {
    padding-right: 10px;
  }

  section.arboretum-list-bg .container-custom ul li img {
    width: 25px;
  }

  section > .container-custom .content-details ul li {
    padding-left: 15px;
    width: unset;
  }

  section > .container-custom .content-details ul li h3 {
    font-size: 16px;
  }

  #homeTopSlider .item {
    height: 100vh;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 110%;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 110%;
  }

  section.arboretum-list-bg .container-custom ul li {
    padding-right: 10px;
  }

  section.arboretum-list-bg .container-custom ul li img {
    width: 25px;
  }

  section > .container-custom .content-details ul {
    padding-left: 0px;
  }

  section > .container-custom .content-details ul li {
    padding-left: 15px;
    width: unset;
  }

  section > .container-custom .content-details ul li h3 {
    font-size: 16px;
  }

  #homeTopSlider .item {
    height: 65vh;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 110%;
  }

  section.arboretum-list-bg .container-custom ul li img {
    width: 25px;
  }

  .latest_news_bg .cards {
    display: block;
  }

  .latest_news_bg .card {
    margin: 0 0 3rem;
    height: 90%;
  }

  section > .container-custom .content-details ul li {
    padding-left: 15px;
  }

  
  #homeTopSlider .item {
    height: 45vh;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 110%;
  }

  section.arboretum-list-bg .container-custom ul li {
    padding-right: 12px;
  }

  section.arboretum-list-bg .container-custom ul li img {
    width: 25px;
  }

  .latest_news_bg .cards {
    display: block;
  }

  .latest_news_bg .card {
    margin: 3rem 0;
  }

  .latest_news_bg .card {
    height: 90%;
  }

  section > .container-custom .content-details ul {
    padding-left: 0px;
  }

  section > .container-custom .content-details ul li {
    padding-left: 15px;
  }

  #homeTopSlider .item {
    height: 245px;
  }

  #homeTopSlider .item .video-bg-container {
    height: 100%;
  }

  #homeTopSlider .item .video-bg-container .video-bg-player {
    width: 120%;
  }

  section.arboretum-list-bg .container-custom ul li {
    padding-right: 10px;
  }

  section.arboretum-list-bg .container-custom ul li img {
    width: 25px;
  }

  .container-custom.ahmedabad-arboretum-list-details ul li {
    padding-right: 5px;
  }

  .container-custom.ahmedabad-arboretum-list-details ul .badge-secondary {
    padding: 5px;
  }

  #homeTopSlider .item {
    height: 200px;
  }
