:root {
  --site-color:#0056b3;

  --site-color-transparent: #ff4500;

  --site-color-rgb-border: #90241e4d;
  --site-color-rgb-border: rgba(144, 36, 30, 0.3);

  --secondary-color: #2a2a2a;

  --secondary-color-border: #92a5b0;

  --secondary-transparent: #92a5b0a1;
  --secondary-transparent: rgba(146, 165, 176, 0.63);

  --golden: #c5a36e;
  --light-gray: #f2f2f2;
}

.logo-box-wrap {
  width: auto;
}

/* .navbar {
  background-color: white;
  opacity: 90%;
}
.fixed-top.navbar {
  background-color: white;
} */
.nav-row-down .nav-item {
  /* border-right: 0.5px solid var(--secondary-color-border); */
  /* border-right: 0; */
}

.nav-wrapper{
  width: 100%;
  display: block;
  /* margin: 1%; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 2s;
}

.navbar-cont{
  border-radius: 10px;
  background-color: #ffffff95;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  font-weight: 550 !important;
  /* overflow: hidden; */
}

.nav-sub{
  border: 1px solid var(--secondary-color-border);
  border-top: 0;
  border-right: 0;
}

.nav-main{
  border-left: 1px solid var(--secondary-color-border);
}

.mobile-nav-logo{
  width: 40% !important;
  margin-left: 4% !important;
  aspect-ratio: 1/1;
}

.blue-back{
  background-color: var(--site-color) !important;

  border: none !important;
}

a{
  outline: none !important;
}

.nav-item{
  /* border: none !important; */
  outline: none !important;
}