.logo-box-wrap {
  width: auto;
}

.navbar {
  background-color: white;
}
.fixed-top.navbar {
  background-color: white;
}
.nav-row-down .nav-item {
  /* border-right: 0.5px solid var(--secondary-color-border); */
  /* border-right: 0; */
}
