<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CSPIT - Electronics and Communication Department</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">


  <!-- Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">



</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:hod.ec@charusat.ac.in ">hod.ec@charusat.ac.in </a>
        <i class="fa fa-phone"></i> +91-2697-265061
      </div>
      <div class="social-links float-right">
        <a href="https://www.facebook.com/CSPITIT/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h3><small><a href="index.html" class="scrollto"><span><h6>Dept. of</h6>Electronics and Communication</span></a></small></h3>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="index.html">Home</a></li>
          <li class="menu-has-children"><a href="#">Academics</a>
             <ul>
              
              <li><a href="http://117.239.83.200:8110/charusat/download/Academic%20Calenders/CSPIT/">Academic Calender</a></li>
              <li><a href="aca_timetable.html">Time Table</a></li>
              <li class="menu-has-children"><a href="http://117.239.83.200:8110/charusat/download/Syllabus/CSPIT/EC/">Syllabus</a>
                <ul>
                  <li><a href="btech.html">B.Tech.</a></li>
                  <li><a href="mtech.html">M.Tech.</a></li>
                </ul>
              </li>      
              <li><a href="http://117.239.83.200:8110/charusat/download/Practical%20List%20&%20Lab%20Manual/CSPIT/EC/">Practical List & Lab Manual</a></li>
              <li><a href="http://117.239.83.200:8110/charusat/download/Question%20Papers/CSPIT/B%20TECH/EC/">Question Papers</a></li>
              <li><a href="aca_projectglimpse.html">Project Glimpse</a></li>
            </ul>
          </li>
          

          <li class="menu-has-children"><a href="#">People</a>
            <ul>
              <li><a href="staff_faculties.html">Faculty Members</a></li>
              <li><a href="staff_support.html">Support Staff</a></li>
            </ul>
          </li>          
          
          <li class="menu-has-children"><a href="#">Research</a>
            <ul>
              <li><a href="lab_EDC.html">ELECTRONICS DEVICES AND CIRCUITS</a></li>
              <li><a href="lab_NA.html">NETWORK ANALYSIS</a></li>
              <li><a href="lab_MASC.html">MICROWAVE AND SATELLITE COMMUNICATION</a></li>
              <li><a href="lab_CS.html">CONTROL SYSTEM </a></li>
              <li><a href="lab_COS.html">COMMUNICATION SYSTEM </a></li>
              <li><a href="lab_PE.html">POWER ELECTRONICS</a></li>
              <li><a href="lab_DAM.html">DIGITAL AND MICROPROCESSOR</a></li>
			  <li><a href="lab_PL.html">PROJECT LAB</a></li>
			  <li><a href="lab_ML.html">MULTIMEDIA LAB</a></li>
			   <li><a href="lab_PGL.html">POST GRADUATE LAB</a></li>
			   <li><a href="lab_AP.html"> APPLICATION PACKAGE</a></li>  <li><a href="lab_grants.html"> Grants & Consultancy</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#">Outreach Activities</a>
            <ul>
              <li><a href="outreach_industry.html">Industry Visits</a></li>
              <li><a href="outreach_expert.html">Associated Experts</a></li>
              <li><a href="outreach_chapter.html">Student Chapters</a></li>
              <li><a href="outreach_nptel.html">NPTEL Certification</a></li>
              
            </ul>
          </li>
          
          <li class="menu-has-children"><a href="#">Department</a>
            <ul>
              
              
              <li><a href="dep_ict.html">ICT Resources</a></li>
              <li><a href="dep_events.html">Event and Activities</a></li>
              <li><a href="dep_achievements.html">Student Achievements</a></li>
              <li><a href="dep_entrepreneurs.html">Entrepreneurs</a></li>
              
              <li><a href="dep_publication.html">Publication</a></li>
              
              
            </ul>
          </li>
                    
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <main id="main">

   <section id="services" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">ELECTRONICS DEVICES AND CIRCUITS (EDC) </h2><br>
          <p>The laboratory is designed to give exposure in practical works for each and every concept, theory, and phenomena’s in the analog world of Electronics starting from basic of  diode, transistor, operational amplifier, filters & oscillators. The laboratory occupied for practical works of the subjects like Integrated Circuits and Applications (ICA), Project Work, Solid State Electronics (SSE). Etc.
The laboratory is equipped with the main equipment’s like Digital/Analog   Storage DSO/CRO 100MHz, Freq. Counter, CRO with DMM, Freq. Counter, Logic-Analyzer, Complete PCB Designing Solution PROTEL DXP PCB Designing software.</p>
        </div>

        <table>
          <tr>
            <td>
              <center><h3>Course Information</h3></center>
            </td>
            <td>
              <center><h3>Resources and Configurations</h3></center>
            </td>
            <td>
              <center><h3>Softwares</h3></center>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li>-</li>
                <li>-</li>
              </ul>
            </td>
            <td>
              <ul>
                <li> Digital/Analog   Storage DSO/CRO 100MHz, Freq. Counter, CRO with DMM, Freq. Counter, Logic-Analyzer</li>
               
              </ul>
            </td>
            <td>
              <ul>
                <li>PROTEL DXP PCB Designing software </li>
                
              </ul>
            </td>
          </tr>
        </table>
      </div>
   </section>

   <section id="services" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">Projects</h2><br>
          <p>
            <ul>
              <li>Deploying and Experimenting, High Performance Cluster(MPI)</li>
              <li>High Availability Web Server Cluster For High Traffic Web Application</li>
              <li>Recommandation Systems for Online Shopping using Big Data Analysis(Hadoop Cluster)</li>
              <li>Bare Metal Virtualization using Xen Hypervisor</li>
              <li>Load Balacing of REST API Servers</li>
              <li>Single Node/Multi Node Openstack Deployment for Infrastructure as Service of Cloud</li>
            </ul>
          </p>
        </div>
      </div>
   </section>

<section id="services" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">Publications</h2><br>
          <p><center>
            <table>
              <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Publication</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
        <td>Krupa Patel, Amit Thakkar, Chandni Shah, and Kamlesh Makvana. A state of art survey on shilling attack in collaborative filtering based recommendation system. In Proceedings of First International Conference on Information and Communication Technology for Intelligent Systems: Volume 1, pages 377{385. Springer International Publishing, 2016.</td></tr>
        <tr><td>2</td>
        <td>Satvik Patel, Sunil Jardosh, Ashwin Makwana, and Amit Thakkar. Publish/subscribe mechanism for iot: A survey of event matching algorithms and open research challenges. In Proceedings of International Conference on Communication and Networks, pages 287{294. Springer, Singapore, 2017.</td></tr>
        <tr><td>3</td>
        <td>Komal Shah, Amit Thakkar, and Amit Ganatra. Association rule hiding by heuristic approach to reduce side effects & hide multiple rhs items. International Journal of Computer Applications, 45(1):1{7, 2012.</td></tr>
        <tr><td>4</td>
        <td>Sanket B Suthar, Mukesh M Goswami, and Amit R Thakkar. Empirical study of thinning algorithms on printed gujarati characters and handwritten numerals. In Proceedings of the 2nd International Conference on Emerging Research in Computing, Information, Communication, and Applications (ERCICA14), Nitte Meenakshi (Ed.), volume 2, 2014.</td></tr>
        <tr><td>5</td>
        <td>Vishwas J Raval, Amit R Thakkar, Amit P Ganatra, and Yogesh P Kosta. Re-search & reclassification algorithm-anadaptive algorithm for search engines. International Journal of Computer Theory and Engineering, 2(6):907, 2010.</td></tr>
        <tr><td>6</td>
        <td>Sheshang D Degadwala, Amit R Thakkar, and Rikin J Nayak. High capacity image steganography using curvelet transform and bit plane slicing. International Journal of Advanced Research in Computer Science, 4(4), 2013.</td></tr>
        <tr><td>7</td>
        <td>Purvi Rekh, Amit Thakkar, and Amit Ganatra. An improved expectation maximization based semi- supervised text classification using bayes and support vector machine. Artificial Intelligent Systems and Machine Learning, 4(5):330{335, 2012.</td></tr>
        <tr><td>8</td>
        <td>Amit Thakkar, Aashiyana Arifbhai Bhatti, and Jalpesh Vasa. Correlation based anonymization using generalization and suppression for disclosure problems. In Advances in Intelligent Informatics, pages 581-592. Springer, Cham, 2015.</td></tr>
        <tr><td>9</td>
        <td>Parth D. Shah Bhautik K. Patel. Combine approach of honeypot and dns for botnet detection and avoidence. In ERCICA 2014 - EMERGING RE SEARCH IN COMPUTING, INFORMATION,
COMMUNICATION AND APPLICATIONS, pages 97{103. Elsevier Publications.</td></tr>
        <tr><td>10</td>
        <td>Parth Shah and Amit Ganatra. Reliable and efficient distribution of multicast session key for deduplicated data in cloud computing.</td></tr>
        
        </tbody>

            </table>
          </center></p>
        </div>
      </div>
   </section>


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2></h2><h2 style="padding-top: 20px">Contact Us</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <small><small><address>
                Department of Information Technology
                <br>Charotar University of Science and Technology,
                <br>CHARUSAT Campus, Changa
                <br>Taluka: Petlad, Dist: Anand 
                <br>Gujarat (India) 388 421
              </address></small></small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p style="text-align: center;"><a href="tel:+155895548855">+91-2697-265061</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p style="text-align: center;"><a href="mailto:hod.ec@charusat.ac.in ">hod.ec@charusat.ac.in </a></p>
            </div>
          </div>

        </div>
      </div>

      <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3683.4441009037255!2d72.8177072644699!3d22.599885535168738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e50c6803c03e7%3A0xb79a740339e4d30d!2sDepartment+of+Electronics+%26+Communication!5e0!3m2!1sen!2sin!4v1541011577257" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe></center>
      

<!--      <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section> #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CHARUSAT</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/sticky/sticky.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
